<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="br.gov.pr.datepicker"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="19" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="br.gov.pr.datepicker.MainActivity"
            android:label="@string/app_name" >
            
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            
        </activity>
        <activity
            android:name="br.gov.pr.datepicker.DateActivity"
            android:label="@string/title_activity_date" android:launchMode="singleTop"
            android:parentActivityName="br.gov.pr.datepicker.MainActivity"
            android:theme="@android:style/Theme.Holo.Light.Dialog"
            >
<!-- android:theme="@android:style/Theme.Holo.Dialog" - faz com que a activity apareça como sendo um tema de diálogo -->
            
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="br.gov.pr.datepicker.MainActivity" />
            
        </activity>
        <activity
            android:name="br.gov.pr.datepicker.TimeActivity"
            android:label="@string/title_activity_time" 
            android:parentActivityName="br.gov.pr.datepicker.MainActivity"
            android:theme="@android:style/Theme.Holo.Light.Dialog" >

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="br.gov.pr.datepicker.MainActivity" />
            
        </activity>
        
    </application>

</manifest>
